:root {
    --bluePrime: #444290;
    --grayPrime: rgb(74, 74, 74);
}

.section-footer {
    font-family: 'Poppin', 'Arial';
    font-weight: 200;
    font-size: 16pt;
    color: white;
    background-color: var(--grayPrime);
    border: 1px solid var(--grayPrime);
}

.section-footer .row-menus > span {
    margin-left: 10px;
    margin-right: 10px;
}

.section-footer img {
    height: 1.8em;
    width: auto;
}
