:root {
    --bluePrime: #444290;
    --grayPrime: gray;
    --redPrime: #ed3237;
}

body {
    margin: 0px;
    padding: 0px;
}

/* NAV BAR */
.section-menu {
    font-family: 'Poppins', 'Arial';
    font-style: normal;
    font-weight: 600;
    color: white;
}
