.section-ticket {
    font-family: 'Poppins', 'Arial';
    font-size: 16pt;
}

.section-ticket .form-row .form-group:nth-child(2n + 1) {
    width: 43%;
}

.section-ticket .form-row .form-group:nth-child(2n) {
    width: 14%;
}

.section-ticket .form-row .form-group select + span {
    width: 100% !important;
}

/* pone el borde horizontal inferior a los select de origen y destino */
.section-ticket .select2-selection {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

/* el tipo y tamaño de letra para los inputs y selects */
.section-ticket .select2-selection__rendered,
.section-ticket .datepicker,
.section-ticket select#cboCantidadMaximaPasajeros {
    font-family: 'Poppin', 'Arial';
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
}

/* calendars */
.section-ticket .inputs .input-append.date > input {
    position: absolute;
    width: 100%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
}
.section-ticket .inputs .input-append.date > span {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* add users */
.section-ticket select#cboCantidadMaximaPasajeros {
    background-image: url(../img/icon_add_user.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
}
/*Evita que se muestre la flecha por defecto en versiones de IE*/
.section-ticket select#cboCantidadMaximaPasajeros::-ms-expand {
    display: none;
}

@media (min-width: 768px) {
    /* TICKETS */

    .section-ticket .slogan {
        font-weight: 700;
    }
    .section-ticket .radios {
        font-size: 0.8em;
        font-weight: 400;
    }

    /* inputs */
    .section-ticket .card-title {
        font-size: 0.8em;
        font-weight: 400;
    }
    .section-ticket .inputs .form-group,
    .section-ticket .inputs .input-group {
        font-size: 0.7em;
        font-weight: bold;
    }
    .section-ticket .inputs button {
        font-size: 0.7em;
        font-weight: 300;
    }
}

@media (max-width: 767.98px) {
    .section-ticket .inputs .card {
        width: 100%;
    }
}
