:root {
    --bluePrime: #444290;
    --grayPrime: rgb(74, 74, 74);
    --redPrime: rgb(237, 50, 55);
    --numberElements: 5;
}

/* SERVICIO */
.section-servicio {
    font-family: 'Poppin', 'Arial';
    font-size: 16pt;
}

.section-servicio span:nth-child(2) {
    font-weight: 400;
    font-size: 1.2em;
    color: var(--grayPrime);
    padding-top: 0px !important;
    margin-bottom: -12px;
}

.section-servicio span:nth-child(2n + 1) {
    font-weight: 900;
    font-size: 2em;
    color: var(--redPrime);
    padding-top: 0px !important;
    margin-top: -12px;
}

.section-servicio .col-image .align-self-center {
    border-radius: 10px;
    box-shadow: -1px 0px 4px 4px rgba(74, 74, 74, 0.4),
        1px 0px 4px 4px rgba(74, 74, 74, 0.4);
}

.section-servicio .openGallery,
.section-gallery .closeGallery {
    background-color: var(--redPrime);
}

/* GALLERY */

/* contenedor de imagenes ***********************/
.section-gallery .contenedor {
    margin: 10%;
    /* border: 1px solid black; */
}

.section-gallery .row-content {
    /* border: 1px solid red; */
    overflow: hidden;
}

.section-gallery .content-images {
    /* width: calc(calc(100% / 3) * --numberElements); */
    width: calc(33.3% * 6);
    font-size: 0pt;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.section-gallery .box-image {
    display: inline-flex;
    width: calc(100% / 6);
    /* border: 1px solid green; */
    justify-content: center;
    align-items: center;
}

.section-gallery .card {
    transition: margin 0.5s 0s ease;
    margin: 5%;
}

.section-gallery .card:hover {
    /* transition: width 0.5s 0s ease; */
    transition: margin 0.5s 0s ease;
    /* width: 100%; */
    margin: 0%;
}

.section-gallery .card img {
    width: 100%;
    height: auto;
}

.section-gallery .closeGallery {
    width: 50%;
    margin: 4px 25%;
}

/* flechas izquierda y derecha */
.section-gallery .row-carriers {
    position: relative;
}

.section-gallery .row-carriers .arrow {
    position: absolute;
    top: 0px;
    bottom: 0px;
    /* border: 2px solid green; */
    background-color: transparent;
    opacity: 0.2;
}

.section-gallery .row-carriers .arrow:hover {
    opacity: 1;
}

.section-gallery .row-carriers .arrow-left {
    left: 0px;
}

.section-gallery .row-carriers .arrow-right {
    right: 0px;
}
