:root {
    --bluePrime: #444290;
    --grayPrime: gray;
}

/* body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bluePrime);
} */

.section-footer {
    font-family: 'Poppin', 'Arial';
    font-weight: 200;
    font-size: 16pt;
    color: white;
}

.section-footer .row-menus > span {
    margin-left: 10px;
    margin-right: 10px;
}

.section-footer img {
    height: 1.8em;
    width: auto;
}
