:root {
    --bluePrime: #444290;
    --grayPrime: rgb(74, 74, 74);
}

.section-footer {
    font-family: 'Poppin', 'Arial';
    font-weight: 200;
    font-size: 16pt;
    color: white;
    background-color: var(--grayPrime);
    border: 1px solid var(--grayPrime);
}

.section-footer .row-menus {
    display: flex;
    justify-content: center;
    align-items: bottom;
}

.section-footer .row-menus > span {
    margin: auto 10px;
}

.section-footer .row-media-payments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-footer .row-media-payments img {
    height: 1.6em;
    width: auto;
    margin: 0px 6px;
}

@media screen and (max-width: 767.98px) {
    .section-footer .row-logos img {
        height: 1.6em;
        width: auto;
        margin: 0px auto;
    }
    .section-footer .group-image {
        margin: 5px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-footer .row-menus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-footer .row-menus span:nth-child(2n) {
        display: none;
    }

    .section-footer .row-menus span {
        font-size: 0.8em;
        font-weight: 200;
    }
}
